.*.swp

media/whole_songs/*.mp3
media/lyrics_txt/*.txt
media/lyrics_json/*.json
media/excerpts/*.mp3

www-built
www/js-compiled-from-coffee
www/index-dev.html
www/index-prod.html
www/segmenter-dev.html
www/segmenter-prod.html
www/TestRunner.html
www/TestRunner-prod.html

.DS_Store

backend/db.sqlite3
backend/index
backend/best_words.json

bible
artist_names
song_lyrics
song_names

www-coverage
