.*.swp

.DS_Store

backend/db.sqlite3
backend/ferret_index

bible
artist_names
song_lyrics
song_names

backend/public/js/main-compiled.js
backend/public/js/main-compiled-for-coverage.js
backend/youtube_downloads/*.mp3
