@import loading
@import player
@import progress-bar
@import lyrics-table
@import search
@import youtube-search

body
  font-family: sans-serif

h1
  font-weight: bold
  text-align: center
  margin: 20px 0 0 0
  font-size: 42pt
  text-transform: lowercase
