- if ENV['ENV'] == 'production'
  %script window.SM2_DEFER = true;
  %script(src="/js/main-compiled.js")
  %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  :javascript
    require(["main", "jquery"], function(main, jquery) {
      jquery.noConflict(); // remove $ global
    });
- else
  %script(src="/js/require.js")
  :javascript
    window.SM2_DEFER = true;
    require.config({
      baseUrl: "/js",
      waitSeconds: 5,
      shim: {
        'swfobject': { exports: 'swfobject' }
      }
    });
