.need-alignments.pop-up
  .content
    %p
      We need timings to know when each line is sung.
      The music will start --
      press [Space] when you hear the first word below.
    .youtube-player
    %a.button.close-button(href='#') Close
