!!!
%html
  %head
    %title= @title
    %link(href="/css/application.css" rel="stylesheet" type="text/css")

    - if ENV['ENV'] != 'production' && !(request.path == '/' && request.get?)
      %script(src="/js/require.js")
      :coffeescript
        window.SM2_DEFER = true
        require.config
          baseUrl: '/js'
          waitSeconds: 5
          shim:
            swfobject:
              exports: 'swfobject'

  %body
    %div.scrollbar-measure
    .modal-background

    != yield

    - if ENV['ENV'] == 'production' && !(request.path == '/' && request.get?)
      %script window.SM2_DEFER = true;
      %script(src="/js/main-compiled.js")
      %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      %script(src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js")

    - if request.path == '/' && request.get?
      :coffeescript
        onload = ->
          # give focus to query-input field
          input = document.getElementsByTagName('input')[0]
          input.focus() if input

          # Preload JavaScript
          window.SM2_DEFER = true # don't request SoundManager2 SWF yet
          urls = [
            '/js/main-compiled.js',
            '//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
            '//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js',
          ]
          for url in urls
            script = document.createElement('script')
            script.src = url
            document.body.appendChild(script)

          # Preload SoundManager2 SWF
          obj = document.createElement('object')
          obj.type = 'application/x-shockwave-flash'
          obj.name = 'plugin'
          obj.data = '/swf/soundmanager2_flash9.swf'
          obj.width = 1
          obj.height = 1
          document.body.appendChild(obj)

        # Set onload
        if window.addEventListener
          window.addEventListener 'load', onload, false
        else if window.attachEvent
          window.attachEvent 'onload', onload
        else
          window.onload = onload

    - else
      :coffeescript
        require ["cs!app/app"], (app) ->
          app.setupFromRequestParams()

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36833366-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ?
          'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
