%h1 Vocab in Context
%form#query-form(method='post' action='/')
  #search-prompt Enter a Spanish word to hear it in context.
  %input.query-input{ :type => 'text', :name => 'query',
                      :value => params['query'] }
  %input#query-submit(type='submit' value='Search')
