%html
  %head
    %title Search
  %body
    %h1 Search
    %form(method='post' action='/search')
      %input(type='text' name='query')
      %input(type='submit')
    %hr
      Suggested searches:
      - @term_counts.each do |term_count|
        - term, count = term_count
        %a{:href => "?query=#{term}"}= term
        = "(#{count})"
    %hr
    - if @results.nil?
    - elsif @results.size == 0
      No results
    - else
      %ul
        - @results.each do |result|
          %li= result
