%html
  %head
    %title Search
  %body
    %h1 Search
    %form(method='post' action='/search')
      %input(type='text' name='query')
      %input(type='submit')
    %hr
    - if @results.size == 0
      No results
    - else
      %ul
        - @results.each do |result|
          %li= result
