%html
  %head
    %title Segmenter
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(href="/css/application.css" rel="stylesheet" type="text/css")
  %body
    %div.scrollbar-measure
    %div(id='player' style='position:relative')
    %table(id='js-lyrics-table' border='1')
      %tr
        %th Start time
        %th Skip?
        %th Lyrics line
    != haml :_loading
    != haml :_js
    :javascript
      require(["cs!app/app"], function(main) { main.setupFromRequestParams(); });
