#player {
  width: 100%;
  height: 130px;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
#words li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  float: left;
}
#play-button {
  float: left;
  width: 60px;
  height: 30px;
}
#progress-outer {
  width: 500px;
  border: 1px black solid;
  margin-left: 65px;
  height: 28px;
  position: relative;
}
#progress-bar {
  width: 0px;
  height: 23px; /* 28 - 5 */
  background-color: red;
  text-align: right;
  color: white;
  float: left;
  padding-top: 5px;
}
#progress-bar-caption {
  position: absolute;
  padding-top: 5px;
}
#progress-total-time {
  float: right;
  padding-right: 5px;
  padding-top: 5px;
}
#progress-loaded-bar {
  width: 0px;
  height: 28px;
  background-color: gray;
  float: left;
}
#myytplayer {
  position: absolute;
  left: -999px;
}
#js-lyrics-table {
  border-collapse: collapse;
}
tr.selectedRow > td.lyric {
  background-color: #ffff44;
}
tr.selectedRow.stage1 > td.lyric {
  background-color: #ffff55;
}
tr.selectedRow.stage2 > td.lyric {
  background-color: #ffff66;
}
tr.selectedRow.stage3 > td.lyric {
  background-color: #ffff55;
}
tr.selectedRow > td.finish-centis {
  background-color: #ffff44;
}
tr.selectedRow.stage1 > td.finish-centis {
  background-color: #ffff55;
}
tr.selectedRow.stage2 > td.finish-centis {
  background-color: #ffff66;
}
tr.selectedRow.stage3 > td.finish-centis {
  background-color: #ffff55;
}
td.start-centis {
  background-color: #eee;
  border-top: 3px #eee solid;
}
td.start-centis > input {
  border: transparent;
  width: 60px;
  text-align: right;
  color: #aaa;
  padding-right: 5px;
  background: transparent;
}
td.finish-centis {
  background-color: #eee;
  border-top: 3px #eee solid;
}
td.finish-centis > input {
  border: transparent;
  width: 60px;
  text-align: right;
  color: #aaa;
  background: transparent;
  padding-right: 5px;
}
#js-lyrics-table td.lyric {
  padding-left: 30px;
  padding-right: 30px;
  border-top: 3px white solid;
}
tr.selectedRowTop > td.lyric,
tr.selectedRowTop > td.start-centis {
  border-top: 3px #ffff44 solid;
}
tr.selectedRowTop.stage1 > td.lyric {
  border-top: 3px #ffff55 solid;
}
tr.selectedRowTop.stage2 > td.lyric {
  border-top: 3px #ffff66 solid;
}
tr.selectedRowTop.stage3 > td.lyric {
  border-top: 3px #ffff55 solid;
}
tr.selectedRowTop > td.start-centis {
  background-color: #ffff44;
}

body {
  font-family: sans-serif;
}
h1 {
  font-weight: bold;
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 42pt;
  text-transform: lowercase;
}
#search-prompt {
  text-align: center;
  margin: 25px 0 0 0;
  font-size: 18pt;
}
#query-form {
  text-align: center;
}
.query-input {
  font-size: 14pt;
  margin: 10px 0 0 0;
  width: 340px;
  height: 40px;
  padding: 0 10px;
}
.query-input.inline {
  width: 100px;
  padding: 0 5px;
  border-width: 1px;
}
#query-submit {
  width: 100px;
  height: 40px;
  -webkit-appearance: button;
}
#excerpts-list {
  margin: 0 auto;
  border-collapse: collapse;
}
#excerpts-list th {
  text-align: left;
  padding-left: 5px;
  padding-right: 15px;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}
#excerpts-list td {
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}
td.song-name {
  font-style: italic;
}

#canvas {
  border: 1px black solid;
  width: 100%;
  height: 100px;
}
#throbber-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: black;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
}
#throbber-foreground {
  position: relative;
  width: 300px;
  height: 90px;
  margin: 100px auto;
  background-color: #fff;
  padding: 15px;
  padding-top: 50px;
  text-align: center;
  z-index: 1001;
  font-family: sans-serif;
}
#cursor {
  background-color: red;
  width: 1px;
  height: 100px;
  position: absolute;
  top: 1px;
}
