#player {
  width: 100%;
  height: 130px;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
#words li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  float: left;
}
#play-button {
  float: left;
  width: 60px;
  height: 30px;
}
#progress-outer {
  width: 500px;
  border: 1px black solid;
  margin-left: 65px;
  height: 28px;
  position: relative;
}
#progress-bar {
  width: 0px;
  height: 23px; /* 28 - 5 */
  background-color: red;
  text-align: right;
  color: white;
  float: left;
  padding-top: 5px;
}
#progress-bar-caption {
  position: absolute;
  padding-top: 5px;
}
#progress-total-time {
  float: right;
  padding-right: 5px;
  padding-top: 5px;
}
#progress-loaded-bar {
  width: 0px;
  height: 28px;
  background-color: gray;
  float: left;
}
#myytplayer {
  position: absolute;
  left: -999px;
}
#js-lyrics-table {
  border-collapse: collapse;
}
tr.selectedRow > td.lyric {
  background-color: #ffff44;
}
tr.selectedRow.stage1 > td.lyric {
  background-color: #ffff55;
}
tr.selectedRow.stage2 > td.lyric {
  background-color: #ffff66;
}
tr.selectedRow.stage3 > td.lyric {
  background-color: #ffff55;
}
tr.selectedRow > td.finish-centis {
  background-color: #ffff44;
}
tr.selectedRow.stage1 > td.finish-centis {
  background-color: #ffff55;
}
tr.selectedRow.stage2 > td.finish-centis {
  background-color: #ffff66;
}
tr.selectedRow.stage3 > td.finish-centis {
  background-color: #ffff55;
}
td.start-centis {
  background-color: #eee;
  border-top: 3px #eee solid;
}
td.start-centis > input {
  border: transparent;
  width: 60px;
  text-align: right;
  color: #aaa;
  padding-right: 5px;
  background: transparent;
}
td.finish-centis {
  background-color: #eee;
  border-top: 3px #eee solid;
}
td.finish-centis > input {
  border: transparent;
  width: 60px;
  text-align: right;
  color: #aaa;
  background: transparent;
  padding-right: 5px;
}
#js-lyrics-table td.lyric {
  padding-left: 30px;
  padding-right: 30px;
  border-top: 3px white solid;
}
tr.selectedRowTop > td.lyric,
tr.selectedRowTop > td.start-centis {
  border-top: 3px #ffff44 solid;
}
tr.selectedRowTop.stage1 > td.lyric {
  border-top: 3px #ffff55 solid;
}
tr.selectedRowTop.stage2 > td.lyric {
  border-top: 3px #ffff66 solid;
}
tr.selectedRowTop.stage3 > td.lyric {
  border-top: 3px #ffff55 solid;
}
tr.selectedRowTop > td.start-centis {
  background-color: #ffff44;
}

body {
  font-family: sans-serif;
}
h1 {
  font-weight: bold;
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 42pt;
  text-transform: lowercase;
}
#search-prompt {
  text-align: center;
  margin: 25px 0 0 0;
  font-size: 18pt;
}
#query-form {
  text-align: center;
}
.query-input {
  font-size: 14pt;
  margin: 10px 0 0 0;
  width: 340px;
  height: 40px;
  padding: 0 10px;
}
.query-input.inline {
  width: 100px;
  padding: 0 5px;
  border-width: 1px;
}
#query-submit {
  width: 100px;
  height: 40px;
}
#excerpts-list {
  margin: 0 auto;
  border-collapse: collapse;
}
#excerpts-list th {
  text-align: left;
  padding-left: 5px;
  padding-right: 15px;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}
#excerpts-list td {
  padding-left: 5px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}
td.song-name {
  font-style: italic;
}


#dialog-overlay {

/* set it to fill the whil screen */
width:100%;
height:100%;

/* transparency for different browsers */
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
background:#000;

/* make sure it appear behind the dialog box but above everything else */
position:absolute;
top:0; left:0;
z-index:3000;

/* hide it by default */
display:none;
}

#dialog-box {
  /* css3 drop shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  /* css3 border radius */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  background:#eee;
  width:550px;

  /* make sure it has the highest z-index */
  position:absolute;
  z-index:5000;

  /* hide it by default */
  display:none;
}

#dialog-box .dialog-content {
  /* style the content */
  text-align:left
  padding:10px;
  margin:13px;
  color:#666;
  font-family:arial;
  font-size:11px;
}

a.button {
  /* styles for button */
  margin:10px auto 0 auto;
  text-align:center;
  display: block;
  width:50px;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
    line-height: 1;

  /* button color */
  background-color: #e33100;

  /* css3 implementation :) */
  /* rounded corner */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  /* drop shadow */
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

  /* text shaow */
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}

a.button:hover {
  background-color: #c33100;
}

/* extra styling */
#dialog-box .dialog-content p {
  font-weight:700;
  margin:0;
  font-size: 16pt;
}

#dialog-box .dialog-content ul {
  margin:10px 0 10px 20px;
  padding:0;
  height:50px;
}

#youtube-search {
  width: 500px;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}
#temporary-loading-notice {
  font-size: 16pt;
  margin-top: 100px;
  text-align: center;
}
