%html
  %head
    %title Index
    :css
      #words li {
        display: inline;
        list-style-type: none;
        padding-right: 10px;
        float: left;
  %body
    %h2 Instructions
    %ol
      %li
        Click a word below:
        %br
        %ul(id='words')
        %br(clear='both')
      %li
        Click one of the song lyrics that appears:
        %br
        %ul(id='lyrics')
      %li While it plays, listen for that word
    = Haml::Engine.new(File.read('www/_loading.haml')).render
    = Haml::Engine.new(File.read('www/_js.haml')).render
    :javascript
      require(["cs!main2", "cs!app/soundManager"],
          function(main, soundManager) {
        main.go(soundManager);
      });
