%html
  %head
    %title Labeler
  %body
    %div(id='outside-canvas' style='position:relative')
      %div(id='cursor')
      %canvas(id='canvas' width='50' height='100')
        HTML5 Canvas element not supported.
    %button(id='play-button' class='clickable' disabled='disabled') Play
    = Haml::Engine.new(File.read('www/loading.haml')).render
    = Haml::Engine.new(File.read('www/js.haml')).render
