%html
  %head
    %title Segmenter
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %body
    %table(id='js-lyrics-table' border='1')
      - File.read('media/lyrics-dutty-love.txt').split("\n").each do |line|
        %tr
          %td
            = line
    %textarea(rows='50' cols='70')
      = File.read('media/lyrics-dutty-love.txt')
    = Haml::Engine.new(File.read('www/loading.haml')).render
    = Haml::Engine.new(File.read('www/js.haml')).render
