%html
  %head
    %title Segmenter
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(href="application.css" rel="stylesheet" type="text/css")
  %body
    %div.scrollbar-measure
    %div(id='player' style='position:relative')
    %table(id='js-lyrics-table' border='1')
      %tr
        %th Start time
        %th Skip?
        %th Lyrics line
    = Haml::Engine.new(File.read('www/_loading.haml')).render
    = Haml::Engine.new(File.read('www/_js.haml')).render
    :javascript
      require(["cs!main2"], function(main) { main.setupFromRequestParams(); });
