%html
  %head
    %title Segmenter
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    :css
      tr.selectedRow {
        background-color: blue;
      }
      td.selectedCell {
        background-color: red;
      }
  %body
    %div(id='player' style='position:relative')
    %table(id='js-lyrics-table' border='1')
      %tr
        %th Start time
        %th Lyrics line
        %th Doesn't quite finish?
    -#%textarea(rows='50' cols='70')
    -#  = File.read('media/lyrics-dutty-love.txt')
    = Haml::Engine.new(File.read('www/_loading.haml')).render
    = Haml::Engine.new(File.read('www/_js.haml')).render
