!!!
%html
  %head
    %title Jasmine Test Runner
    %link(href="../tools/jasmine-1.2.0/jasmine.css" rel="stylesheet" type="text/css")
  %body
    %script(src="../tools/jasmine-1.2.0/jasmine.js")
    %script(src="../tools/jasmine-1.2.0/jasmine-html.js")
    %script(src="../tools/phantom-jasmine/console-runner.js")
    %script(src="../tools/require.js")
    = Haml::Engine.new(File.read('www/_loading.haml')).render
    = Haml::Engine.new(File.read('www/_js.haml')).render
    :javascript
      var console_reporter = undefined; // global for console runner
      require(["jquery",
          "cs!spec/SoundGridSpec", "cs!spec/TimeSeriesSpec"], function($) {
        $(function() {
          jasmine.getEnv().updateInterval = 1000;
          var htmlReporter = new jasmine.HtmlReporter();
          jasmine.getEnv().addReporter(htmlReporter);
          jasmine.getEnv().specFilter = function(spec) {
            return htmlReporter.specFilter(spec);
          };
          jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
          console_reporter = new jasmine.ConsoleReporter();
          jasmine.getEnv().addReporter(console_reporter);
          jasmine.getEnv().execute();
        });
      });
